.main {
    display: flex;
}

.Usuario {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.NavUsu {
    background-color: #fff;
    border-bottom: 2px solid #EAEAEA;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
}

.Usuario h1,
.Usuario h3 {
    margin: 0;
}

.Usuario h3 {
    margin-top: 10px;
}

.rotate {
    transform : rotate(180deg);
}

.noRotate {
    transform : rotate(0deg);
}